appdirs==1.4.3
boto3==1.4.4
botocore==1.5.71
decorator==4.0.11
django==1.11.29
dnspython==1.15.0
docutils==0.13.1
futures==3.1.1
httplib2==0.18.0
jmespath==0.9.3
packaging==16.8
python-dateutil==2.6.0
pytz==2017.2
redis==2.10.5
rsa==3.4.2
s3transfer==0.1.10
six==1.10.0
uritemplate==3.0.0
Jinja2==2.10.1
django-environ==0.4.5
#python-freeipa==1.0.6
password-strength==0.0.3.post2