[Unit]
Description=FreeIPA Password Reset Service
After=network.target remote-fs.target

[Service]
Type=simple
User=ldap-passwd-reset
Group=ldap-passwd-reset
WorkingDirectory=/home/ldap-passwd-reset/freeipa-password-reset/PasswordReset/
ExecStart=/home/ldap-passwd-reset/freeipa-password-reset/virtualenv/bin/python /home/ldap-passwd-reset/freeipa-password-reset/PasswordReset/manage.py runserver
Restart=always
RestartSec=20
PrivateTmp=true

[Install]
WantedBy=multi-user.target
