<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Password reset</title>
  <link rel="shortcut icon" href="/ipa/ui/favicon.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/ipa/ui/css/patternfly.css">
  <link rel="stylesheet" href="/ipa/ui/css/ipa.css">
  <link rel="stylesheet" href="/ipa/ui/ipa.css">

  <script src="/ipa/ui/js/libs/jquery.js"></script>
  <script src="/ipa/ui/js/libs/bootstrap.js"></script>

  <style type="text/css">
     :root .left_article_cont,
     :root .adv,
     :root .ads {
      display: none !important;
    }
  </style>
</head>


<body>
   {% block content %}{% endblock %}
</body>
</html>
