{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Password reset</title>
  <link rel="shortcut icon" href="/ipa/ui/favicon.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/ipa/ui/css/patternfly.css">
  <link rel="stylesheet" href="/ipa/ui/css/bootstrap-datepicker3.min.css">
  <link rel="stylesheet" href="/ipa/ui/css/ipa.css">
  <link rel="stylesheet" href="/ipa/ui/ipa.css">

  <script src="/ipa/ui/js/libs/json2.js"></script>
  <script src="/ipa/ui/js/libs/jquery.js"></script>
  <script src="/ipa/ui/js/libs/bootstrap.js"></script>
  <script src="/ipa/ui/js/libs/bootstrap-datepicker.js"></script>
  <script src="/ipa/ui/js/libs/patternfly.js"></script>
  <script src="/ipa/ui/js/libs/jquery.ordered-map.js"></script>
  <script src="/ipa/ui/js/libs/browser.js"></script>
  <script src="/ipa/ui/js/dojo/dojo.js"></script>
  <script src="/ipa/ui/js/libs/qrcode.js"></script>

  <style type="text/css">
     :root .left_article_cont,
     :root .adv,
     :root .ads {
      display: none !important;
    }
  </style>
  <script type="text/javascript" src="js/libs/json2.js?v=40400"></script>
  <link rel="stylesheet" type="text/css" href="css/patternfly.css?v=40400" media="screen, print">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-datepicker3.min.css?v=40400" media="screen, print">
  <link rel="stylesheet" type="text/css" href="css/ipa.css?v=40400" media="screen, print">
  <link rel="stylesheet" type="text/css" href="ipa.css?v=40400" media="screen, print">
  <link rel="icon" type="text/css" href="favicon.ico?v=40400" media="screen, print">
  <script type="text/javascript" src="js/libs/jquery.js?v=40400"></script>
  <script type="text/javascript" src="js/libs/bootstrap.js?v=40400"></script>
  <script type="text/javascript" src="js/libs/bootstrap-datepicker.js?v=40400"></script>
  <script type="text/javascript" src="js/libs/patternfly.js?v=40400"></script>
  <script type="text/javascript" src="js/libs/jquery.ordered-map.js?v=40400"></script>
  <script type="text/javascript" src="js/libs/browser.js?v=40400"></script>
  <script type="text/javascript" charset="utf-8" src="js/freeipa/app.js?40400"></script>
  <script type="text/javascript" charset="utf-8" src="js/libs/d3.js?40400"></script>
  <script type="text/javascript" charset="utf-8" src="js/freeipa/plugins.js?40400"></script>
  <script type="text/javascript" src="js/dojo/dojo.js?v=40400"></script>
  <script type="text/javascript" src="js/libs/qrcode.js?v=40400"></script>
</head>


<body>
   {% block content %}{% endblock %}
</body>
</html>
