{% extends 'base.html' %} {% block content %}
<script type="text/javascript">
   $(function () {
       $("#reset").click(function () {
           var password1 = $("#password1").val();
           var password2 = $("#password2").val();
           if (password1 != password2) {
               $("#insert-here").prepend(`<div class="form-group">
                 <div class="col-sm-3 col-md-3 control-label"><label name="validation" class=""></label></div>
                 <div class="col-sm-9 col-md-9 controls">
                   <div name="validation" class="widget validation-summary" style="">
                     <div>
                       <div data-name="sync" class="fade in alert alert-danger"><span class="fa fa-exclamation-circle"></span> Passwords does'not match</div>
                     </div>
                   </div>
                 </div>
               </div>`);
               return false;
           }
           return true;
       });
   });
</script>
<style>
   input[type="number"]::-webkit-outer-spin-button,
   input[type="number"]::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
   }
   input[type="number"] {
   -moz-appearance: textfield;
   }
</style>
<div id="container" class="app-container" style="display: none;">
   <nav class="navbar navbar-default navbar-pf" role="navigation">
      <div class="navbar-header"><button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-21"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand"
         href="#"><img src="/ipa/ui/images/header-logo.png" alt="Identity Management"></a></div>
      <div class="collapse navbar-collapse navbar-collapse-21">
      </div>
   </nav>
   <div class="content"></div>
   <div class="widget global-activity-indicator slider">
      <div class="activity-row">
         <div class="activity-text"><i class="fa fa-spinner fa-spin"></i> Working</div>
      </div>
   </div>
</div>
<div id="simple-container" class="app-container" style="">
<div class="content">
   <div class="facet active-facet" name="login" data-name="login">
      <div class="widget global-activity-indicator slider closed"></div>
      <div class="login-pf">
         <div class="login-pf-body">
            <span id="badge"><img src="/ipa/ui/images/login-screen-logo.png" alt=""></span>
            <div class="container">
               <div class="row">
                  <div class="col-sm-12">
                     <div id="brand"><img src="/ipa/ui/images/product-name.png" height="80px"></div>
                  </div>
                  <div class="col-sm-7 col-md-7 col-lg-6 login" id="insert-here">
                     {% if msg %} {% if error %}
                     <div class="form-group">
                        <div class="col-sm-3 col-md-3 control-label"><label name="validation" class=""></label></div>
                        <div class="col-sm-9 col-md-9 controls">
                           <div name="validation" class="widget validation-summary" style="">
                              <div>
                                 <div data-name="sync" class="fade in alert alert-danger"><span class="fa fa-exclamation-circle"></span> {{msg}}</div>
                              </div>
                           </div>
                        </div>
                     </div>
                     {% else %}
                     <div class="form-group">
                        <div class="col-sm-3 col-md-3 control-label"><label name="validation" class=""></label></div>
                        <div class="col-sm-9 col-md-9 controls">
                           <div name="validation" class="widget validation-summary" style="">
                              <div>
                                 <div data-name="sync" class="fade in alert alert-success"><span class="fa fa-exclamation-circle"></span> {{msg}}</div>
                              </div>
                           </div>
                        </div>
                     </div>
                     {% endif %} {% endif %}
                     <form id="reset-form" method="post">
                        <div class="form-horizontal">
                           <div class="form-group required">
                              <div class="col-sm-3 col-md-3 control-label"><label name="token" class="" for="token">Token</label></div>
                              <div class="col-sm-9 col-md-9 controls">
                                 <div name="uid" class="widget text-widget valid">
                                    <p name="uid" class="form-control-static" style="display: none;"></p>
                                    {% csrf_token %}
                                    <input type="hidden" name="uid" value="{{uid}}">
                                    <div>
                                       <input type="number" name="token" id="token" class="form-control" title="" placeholder="Token" autocomplete="off" required autofocus>
                                       <div class="input-group-btn"></div>
                                    </div>
                                    <span name="error_link" class="help-block" style="display:none"></span>
                                 </div>
                              </div>
                           </div>
                           <div class="form-group required">
                              <div class="col-sm-3 col-md-3 control-label"><label name="password1" class="" for="password1">New Password</label></div>
                              <div class="col-sm-9 col-md-9 controls">
                                 <div name="uid" class="widget text-widget valid">
                                    <p name="uid" class="form-control-static" style="display: none;"></p>
                                    <div>
                                       <input type="password" name="password1" id="password1" class="form-control" title="" placeholder="New Password" autocomplete="off" required>
                                       <div class="input-group-btn"></div>
                                    </div>
                                    <span name="error_link" class="help-block" style="display:none"></span>
                                 </div>
                              </div>
                           </div>
                           <div class="form-group required">
                              <div class="col-sm-3 col-md-3 control-label"><label name="password2" class="" for="password2">Confirm New Password</label></div>
                              <div class="col-sm-9 col-md-9 controls">
                                 <div name="uid" class="widget text-widget valid">
                                    <p name="uid" class="form-control-static" style="display: none;"></p>
                                    <div>
                                       <input type="password" name="password2" id="password2" class="form-control" title="" placeholder="Confirm New password" autocomplete="off" required>
                                       <div class="input-group-btn"></div>
                                    </div>
                                    <span name="error_link" class="help-block" style="display:none"></span>
                                 </div>
                              </div>
                           </div>
                           <div class="form-group" style="display:none"></div>
                        </div>
                     </form>
                     <div class="row">
                        <div class="col-sm-12 col-md-offset-3 col-md-9 submit">
                           <input type="button" onclick="location.href='/';" class="btn btn-default btn-danger btn-lg" value="Cancel" />
                           <button name="reset" title="Set new password" form="reset-form" id="reset" class="btn btn-default btn-primary btn-lg" type="submit">Reset Password</button>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-5 col-md-5 col-lg-6 details">
                     <p><i class="fa fa-info-circle"></i> <strong>Here are some tips for creating a strong password:</strong></p>
                     <ul>
                        <li>Use at least 8 characters.</li>
                        <li>Use a mix of letters (uppercase and lowercase), numbers, and symbols.</li>
                        <li>Don't use your name, username, or account name.</li>
                        <li>Avoid predictable passwords such as "password", "12345" or "bigbunny".</li>
                      </ul> 
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div id="notification" class="">
   <div class="content"></div>
</div>
{% endblock %}


